<div class="crm mb-25">
  <div class="container-fulid">
     <div class="card card-Vertical card-default card-md mt-4 mb-4">
        <div class="card-header d-flex align-items-center">
           <div class="card-title d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-3">
                 <h4>Leave Application</h4>
              </div>

           </div>

           <div class="btn-wrapper">
              <div class="dm-button-list d-flex flex-wrap align-items-end">
                <button
                type="button"
                id="addnew"
                (click)="toggleCardbox()"
                class="btn btn-secondary btn-default btn-squared">
                {{ buttonText }}
              </button>        
              </div>
           </div>
        </div>
        <form [formGroup]="LeaveApplication" (ngSubmit)="onSubmit()">
          <div id="Cardbox" class="card-body pb-md-30" *ngIf="isCardboxVisible">
            <div class="Vertical-form">
                  <div class="row">
                      <div class="col-lg-12">
         <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
            <div class="form-group position-relative">
              <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
                Company<span class="text-danger">*</span>
              </label>
              <ng-select [items]="company" placeholder="---Select---" bindValue="cmpId" [clearable]="false" bindLabel="cmpName"  formControlName="ddlCompany" class="ngSelect2custome">

              </ng-select>
              <div *ngIf="LeaveApplication.get('ddlCompany')?.invalid && LeaveApplication.get('ddlCompany')?.touched">
                <small class="text-danger">Company is required.</small>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
            <div class="form-group position-relative">
              <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
                Employee <span class="text-danger">*</span>
              </label>
              <ng-select [items]="employees" placeholder="---Select---" bindValue="empId" bindLabel="fullName" formControlName="ddlEmployee" clearable="false" placeholder="---Select---" class="ngSelect2custome">

              </ng-select>
              <div *ngIf="LeaveApplication.get('ddlEmployee')?.invalid && LeaveApplication.get('ddlEmployee')?.touched">
                <small class="text-danger">Employee is required.</small>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
            <div class="form-group position-relative">
              <label for="ddlLeaveType" class="color-dark fs-14 fw-500 align-center mb-10">
                 Leave Type<span class="text-danger">*</span>
              </label>
              <ng-select [items]="leaveTypes" placeholder="---Select---" bindLabel="leaveName"
              bindValue="leaveId"
              placeholder="---Select---"
              class="ngSelect2custome"
              clearable="false"
              formControlName="ddlLeaveType"
              >
              </ng-select>
              <div *ngIf="LeaveApplication.get('ddlLeaveType')?.invalid && LeaveApplication.get('ddlLeaveType')?.touched">
                <small class="text-danger">Leave type is required.</small>
              </div>
            </div>
          </div>
      
         <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="txtApplyDate" class="color-dark fs-14 fw-500 align-center mb-10">
              Apply Date<span class="text-danger">*</span>
            </label>
            <input type="date" formControlName="txtApplyDate" placeholder="---Select---" class="form-control ih-medium ip-light radius-xs b-light px-15" />
            <div *ngIf="LeaveApplication.get('txtApplyDate')?.invalid && LeaveApplication.get('txtApplyDate')?.touched">
              <small class="text-danger">Apply date is required.</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
               Start Date <span class="text-danger">*</span>
            </label>
            <input type="date" formControlName="txtStartDate" placeholder="---Select---" class="form-control ih-medium ip-light radius-xs b-light px-15" onclick="calculateTotalDays()" />
            <div *ngIf="LeaveApplication.get('txtStartDate')?.invalid && LeaveApplication.get('txtStartDate')?.touched">
              <small class="text-danger">Start date is required.</small>
            </div>
          
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
               End Date <span class="text-danger">*</span>
            </label>
            <input type="date" formControlName="txtEndDate"  onclick="calculateTotalDays()" class="form-control ih-medium ip-light radius-xs b-light px-15" />
            <div *ngIf="LeaveApplication.get('txtEndDate')?.invalid && LeaveApplication.get('txtEndDate')?.touched">
              <small class="text-danger">End date is required.</small>
            </div>
          
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
              Total Days
            </label>
            <input type="number" formControlName="txtTotalDays" class="form-control ih-medium ip-light radius-xs b-light px-15" readonly />
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
              Leave Address
            </label>
            <textarea formControlName="txtLeaveAddress" placeholder="type Address" class="form-control ih-medium ip-light radius-xs b-light px-15"></textarea>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
              Purpose of Leave
            </label>
            <textarea formControlName="txtPurposeOfLeave" placeholder="type purpose of lv" class="form-control ih-medium ip-light radius-xs b-light px-15"></textarea>

          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-sm-6">
          <div class="form-group position-relative">
            <label for="startDate" class="color-dark fs-14 fw-500 align-center mb-10">
              Emergency Contact
            </label>
            <input type="text" formControlName="txtEmergencyContact" placeholder="type Emergency Contact" class="form-control ih-medium ip-light radius-xs b-light px-15" />
  
          </div>
        </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group form-element-textarea mb-20">
              <label for="txtdocemnt" class="color-dark fs-14 fw-500 align-center mb-10">Attach Document (if any)</label>
              <div class="dm-tag-wrap">
                <div class="dm-upload">
                  <div class="dm-upload__button">
                    <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload" (click)="fileInput.click()">
                      <i class="uil uil-upload"></i> Click to Upload
                    </a>
                    <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    formControlName="attachments"
                    multiple
                    style="display: none"
                  />
                  
                  </div>
                  <div class="dm-upload__file">
                    <ul id="fileList">
                      <li *ngFor="let file of allFiles; let i = index">
                        <i class="fas fa-link"></i> {{ file.name }}
                        <button type="button" (click)="removeFile(i)" class="removeFile">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary"  [disabled]="LeaveApplication.invalid">Submit</button>
        </div>
        </div>
      </div>
      </div>
      </div>

        </form>


        <div class="mat-elevation-z8" >
            <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..."  class="form-control searchBar">

          
        
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Employee Name Column -->
            <ng-container matColumnDef="empName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
              <td mat-cell *matCellDef="let element">
                <div style="display: flex; align-items: center;">
                  <!-- Image -->
                  <img 
                  [src]="element.empImage || 'assets/img/author/user_img_default.jpg'" 
                    alt="Employee Image" 
                    style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;" 
                  />
                  <!-- Name and Designation -->
                  <div>
                    <div style="font-weight: bold;">{{element.empName}}</div>
                    <div style="font-size: 12px; color: gray;">{{element.dsgName}}</div>
                  </div>
                </div>
              </td>
            </ng-container>
            
        
            <!-- Leave Type Column -->
            <ng-container matColumnDef="leaveName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type </th>
              <td mat-cell *matCellDef="let element"> {{element.leaveName}} </td>
            </ng-container>
        
            <!-- Apply Date Column -->
            <ng-container matColumnDef="applyDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Apply Date </th>
              <td mat-cell *matCellDef="let element"> {{element.applyDate | date}} </td>
            </ng-container>
        
            <!-- Start Date Column -->
            <ng-container matColumnDef="leaveStartDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
              <td mat-cell *matCellDef="let element"> {{element.leaveStartDate | date}} </td>
            </ng-container>
        
            <!-- End Date Column -->
            <ng-container matColumnDef="leaveEndDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
              <td mat-cell *matCellDef="let element"> {{element.leaveEndDate | date}} </td>
            </ng-container>
            <ng-container matColumnDef="approvalStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <span 
                  [style.background-color]="
                    element.approvalStatus === 1 ? 'green' : 
                    element.approvalStatus === 0 ? 'orange' : 
                    element.approvalStatus === null ? '#b200ff' : 'red'"
                  [style.color]="'white'"
                  [style.padding]="'2px 4px'"
                  [style.border-radius]="'12px'"
                  [style.display]="'inline-block'"
                  [style.font-size]="'10px'"
                >
                  {{ 
                    element.approvalStatus === null ? 'Pending' : 
                    element.approvalStatus === 0 ? 'Processing' : 
                    element.approvalStatus === 1 ? 'Approved' : 'Rejected' 
                  }}
                </span>
              </td>
            </ng-container>
            
            
            
            
        


        
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <!-- You can add buttons or icons here for viewing, editing, and deleting -->
                <button mat-button class="action view" (click)="viewElement(element)"><i class="far fa-eye"></i></button>
                <button mat-button class="action delete" (click)="deleteElement(element)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [length]="totalData" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
          </mat-paginator>
        </div>
        
        
  
  </div>
  </div>
  </div>
