


.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    width:20px;
    height:20px;
}
.PurposeOfLv{
    height:50px !important; 
}
.removeFile{
    background-color:none;
    border:none;
    color:red;
    padding:3px;
}

.custom-select-panel .mat-option .mat-input-element {
    width: 100%;
  }
  

  .ngSelect2custome{
    font-weight: normal;

  }  

  table {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  #txtsearch{
    margin-top:20px;


  }
  .mat-mdc-input-element{
    margin-top: 20px;
  }

  .action {
    border: none;
    background: none;
    color: var(--color-lighten);
    width: 35px;
    height: 35px;
}
.action:hover{

  background-color: rgba(130, 49, 211, 0.1);
  border-radius: 50%;
}

.action .fa-eye:hover {
   color: var(--color-primary);

}
.action .fa-edit:hover {
  color: #00aaff;

}
.action .fa-trash-alt:hover {
  color: var(--color-danger);
  
}
.mat-mdc-row {
  height: var(--mat-table-row-item-container-height, 35px);
}

.mat-header-cell {
  font-weight: bold;
}

.search-bar {
  width: 100%; /* Full width */
  max-width: 300px; /* Optional: Limit the maximum width */
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px; /* Add padding for better usability */
}

.mat-form-field-outline {
  border-radius: 50px; /* Make it rounded */
}

.mat-icon {
  color: gray; /* Optional: Adjust the icon color */
  border: none;
}
.mat-icon-button{
  border: none;
  background-color: transparent;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 50px; /* Round border for outline appearance */
}
.mat-mdc-input-element {
  margin-top: 0;
}