/* .custom-btn{
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;

}
.forward{
    background-color:blueviolet !important;
}
.reject{
    background-color: rgb(237, 117, 117) !important;
}
.approve{
    background-color: green !important;
} */