<div class="mat-elevation-z8" >
    <mat-form-field appearance="outline" class="search-bar">
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
      <button mat-icon-button matSuffix aria-label="Clear" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    
  
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Employee Name Column -->
      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; align-items: center;">
            <!-- Image -->
            <img 
            [src]="element.empImage || 'assets/img/author/user_img_default.jpg'" 
              alt="Employee Image" 
              style="width: 40px; height: 40px; margin-right: 10px;" 
            />
            <!-- Name and Designation -->
            <div>
              <div style="font-weight: bold;">{{element.empName}}</div>
              <div style="font-size: 12px; color: gray;">{{element.dsgName}}</div>
            </div>
          </div>
        </td>
      </ng-container>
      
  
      <!-- Leave Type Column -->
      <ng-container matColumnDef="leaveName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type </th>
        <td mat-cell *matCellDef="let element"> {{element.leaveName}} </td>
      </ng-container>
  
      <!-- Apply Date Column -->
      <ng-container matColumnDef="applyDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apply Date </th>
        <td mat-cell *matCellDef="let element"> {{element.applyDate | date}} </td>
      </ng-container>
  
      <!-- Start Date Column -->
      <ng-container matColumnDef="leaveStartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.leaveStartDate | date}} </td>
      </ng-container>
  
      <!-- End Date Column -->
      <ng-container matColumnDef="leaveEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.leaveEndDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- Forward Button -->
          <button
            *ngIf="element.authorityAction === 1 || element.authorityAction !== 2"
            mat-raised-button
            class="action-button custom-btn forward"
            (click)="onlvApproveClick(0, element.id, 0)"
          >
            Forward
          </button>
      
          <!-- Approve Button -->
          <button
            *ngIf="element.authorityAction === 2 || element.authorityAction !== 1"
            mat-raised-button
            class="action-button custom-btn approve"
            (click)="onlvApproveClick(1, element.id, 0)"
          >
            Approve
          </button>
      
          <!-- Reject Button (Always Present) -->
          <button
            mat-raised-button
            class="action-button custom-btn reject"
            (click)="onlvApproveClick(2, element.id, 0)"
          >
            Reject
          </button>
        </td>
      </ng-container>
      

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="totalData" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>


  