


.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    width:20px;
    height:20px;
}
.PurposeOfLv{
    height:50px !important; 
}
.removeFile{
    background-color:none;
    border:none;
    color:red;
    padding:3px;
}

.custom-select-panel .mat-option .mat-input-element {
    width: 100%;
  }
  

  .ngSelect2custome{
    font-weight: normal;

  }  

/* Add this to your stylesheet or component's CSS file */
/* leave-application-component.css */
/* styles.css or styles.scss */


  /* Add this to your stylesheet or component's CSS file */

